<a href="https://colab.research.google.com/github/JManas02/Data-Science/blob/main/TDSProject2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TDS PROJECTS 2

### How to use these files
Download and place the **.csv** files in the same folder and run the codes

## Importing packages

In [ ]:
import pandas as pd
from textblob import TextBlob

# Q1

In [ ]:
# Load the CSV file into a pandas DataFrame
file_path = "books.csv"
data = pd.read_csv(file_path)

# Check how many rows do not have an original title
missing_original_title_count = data['original_title'].isnull().sum()
apple=missing_original_title_count

print(f"The number of books without an original title: {missing_original_title_count}")

The number of books without an original title: 72

# Q2

In [ ]:
# Load the books.csv file into a DataFrame
books_df = pd.read_csv('books.csv')

# Count the number of unique books based on 'book_id'
unique_books_count = books_df['book_id'].nunique()

print(f"The number of unique books in the dataset is: {unique_books_count}")

The number of unique books in the dataset is: 1643

# Q3

In [ ]:
# Load the CSV file into a DataFrame
df = pd.read_csv("ratings.csv")

# Count the number of unique user IDs
unique_users_count = df['user_id'].nunique()

print(f"Number of unique users: {unique_users_count}")

Number of unique users: 19030

# Q4

In [ ]:
# Load the books.csv file into a DataFrame
books_df = pd.read_csv('books.csv')

# Find the book title with the maximum number of ratings
max_ratings_book_title = books_df.loc[books_df['work_ratings_count'].idxmax(), 'title']

print(f"The book with the maximum number of ratings is: {max_ratings_book_title}")

The book with the maximum number of ratings is: Harry Potter and the Sorcerer's Stone (Harry Potter, #1)

# Q5

In [ ]:
# Load the book_tags.csv file into a DataFrame
book_tags_df = pd.read_csv('book_tags.csv')

# Count the number of unique tags
unique_tags_count = book_tags_df['tag_id'].nunique()

print(unique_tags_count)

11295

# Q6

In [ ]:
# Load the CSV files into DataFrames
book_tags_df = pd.read_csv('book_tags.csv')
books_df = pd.read_csv('books.csv')

# Merge book_tags_df and books_df on 'goodreads_book_id'
merged_df = pd.merge(book_tags_df, books_df, left_on='goodreads_book_id', right_on='goodreads_book_id')

# Group by book title and sum the 'count' column
tag_counts_per_book = merged_df.groupby('title')['count'].sum()

# Find the book title with the maximum tag counts
max_tag_count_book_title = tag_counts_per_book.idxmax()

print(f"The book with the most number of tag counts is: {max_tag_count_book_title}")

The book with the most number of tag counts is: Harry Potter and the Sorcerer's Stone (Harry Potter, #1)

# Q7

In [ ]:
# Load the to_read.csv file into a DataFrame
to_read_df = pd.read_csv('toread.csv')

# Group by book_id and count the number of users who marked each book as "to-read"
to_read_counts = to_read_df['book_id'].value_counts()

# Get the book_id with the most "to-read" counts
most_to_read_book_id = to_read_counts.idxmax()

# Load the books.csv file into a DataFrame
books_df = pd.read_csv('books.csv')

# Find the goodreads_book_id using the most_to_read_book_id
most_to_read_goodreads_book_id = books_df.loc[books_df['book_id'] == most_to_read_book_id, 'goodreads_book_id'].values[0]

print(most_to_read_goodreads_book_id)

168668

# Q8

In [ ]:
# Load the CSV file into a DataFrame
df = pd.read_csv("book_tags.csv")

# Group by tag_id and count the number of occurrences
tag_counts = df.groupby('tag_id')['goodreads_book_id'].count()

# Find the tag with the lowest count
least_used_tag_id = tag_counts.idxmin()
least_used_tag_count = tag_counts.min()

print(f"Least used tag ID: {least_used_tag_id}")
print(f"Number of books mapped to the least used tag: {least_used_tag_count}")

Least used tag ID: 3
Number of books mapped to the least used tag: 1

# Q9

In [ ]:
# Load the books.csv file into a DataFrame
books_df = pd.read_csv('books.csv')

# Find the book title with the minimum average rating
min_avg_rating_books = books_df[books_df['average_rating'] == books_df['average_rating'].min()]

# Sort the tied books by title in alphabetical order
min_avg_rating_books_sorted = min_avg_rating_books.sort_values(by='title')

# Get the first book's title from the sorted list
min_avg_rating_book_title = min_avg_rating_books_sorted.iloc[0]['title']

print(f"The book with the minimum average rating is: {min_avg_rating_book_title}")

The book with the minimum average rating is: One Night at the Call Center

# Q10

In [ ]:
# Load the book_tags.csv file into a DataFrame
book_tags_df = pd.read_csv('book_tags.csv')

# Group by book_id and calculate the total count for each book
book_tag_counts = book_tags_df.groupby('goodreads_book_id')['count'].sum()

# Find the book_id with the minimum total count (least number of tags)
least_tag_count_book_id = book_tag_counts.idxmin()

print(least_tag_count_book_id)

290039

# Q11

In [ ]:
# Load the book_tags.csv file into a DataFrame
book_tags_df = pd.read_csv('book_tags.csv')

# Count the number of unique tags
unique_tags_count = book_tags_df['tag_id'].nunique()

print(unique_tags_count)

11295

# Q12

In [ ]:
# Load the books.csv file into a DataFrame
books_df = pd.read_csv('books.csv')

# Calculate the mean value of the ratings based on 'average_rating' column
mean_rating = books_df['average_rating'].mean()

print(f"The mean value of ratings of all books is: {mean_rating}")

The mean value of ratings of all books is: 3.9657334144856966

# Q14

In [ ]:
# Load the books.csv file into a DataFrame
books_df = pd.read_csv('books.csv')

# Define a function to predict sentiment using TextBlob
def get_sentiment(text):
    blob = TextBlob(str(text))  # Convert to string to handle NaN values
    return blob.sentiment.polarity

# Apply the sentiment function to the 'original_title' column and create a new 'sentiment' column
books_df['sentiment'] = books_df['original_title'].apply(get_sentiment)

# Count the number of positive titles (titles with positive sentiment)
positive_titles_count = (books_df['sentiment'] >= 0).sum()
banana=positive_titles_count-apple
print(f"The number of positive titles is: {banana}")

The number of positive titles is: 1429

# *Authored by MoonWrecker using Gpt*